/**
 *
 * General elements
 *
 */

.peopleChart{
	margin: 15px 20px 100px;
	width: 2500px;
	position: relative;
}

/* --- Patriarchs lines clasess -- */
@each $name, $age, $color in $patriarchs {
	.#{$name} {
		@include patriarch($age, $color);
	}
}

.patriarch{
	will-change: tranform;
	position: relative;
	br: 2px;
	height: 30px;
	padding: 5px;
	transition: all 750ms ease-in-out-cubic;
	// TODO: grid
	display: flex;
	align-items: center;
	margin: 5px 0 0;

	
	p {
		margin: 0 5px;
		&.name:first-letter {
			tt: uppercase; 
		}
		&.verse {
			padding: 2px;
			border: 1px solid black;
			br: 2px;
		}
	}
}

.timeline{
	margin: 15px 0;
	width: 2500px;
	height: 30px;
	display: flex;
	.space{
		width: 3px;
		height: 10px;
		bgc: white;		
	}
	.line {
		width: 19px;
		height: 10px;
		bgc: black;
	}
	.section{
		display: flex;
	}
}

.controls {
	margin-bottom: 10px;
	.btn {
		margin-right: 10px;
	}
}

.title {
	margin-left: 15px; 
}