.tooltipPerson{
	width: 280px;
	padding: 10px;
	bgc: #333;
	color: whitesmoke;
	border: 1px solid black;
	br: 5px;
	transition: all 500ms ease-in-out-cubic;
	z-index: 1;
	//position: fixed;
	//top: 0;
	//left: 0;
	position: absolute;
	top: -80px;
	left: 100px;
}