doctype html
html
	head
		title Bible Timeline
		link(rel='stylesheet', href='css/style.css')
	body
		//- containes the life lines
		.timeline
			.adan.patriarch
				p.name Adan
				p.verse insert bible verse here
			.set.patriarch
				p.name Set
				p.verse insert bible verse here
			.enos.patriarch
				p.name Enos
				p.verse insert bible verse here
			.cainan.patriarch
				p.name Cainan
				p.verse insert bible verse here
			.malalel.patriarch
				p.name Malalel
				p.verse insert bible verse here
			.jared.patriarch
				p.name Jared
				p.verse insert bible verse here
			.enoc.patriarch
				p.name Enoc
				p.verse insert bible verse here
			.matusalen.patriarch
				p.name Matusalen
				p.verse insert bible verse here