/**
 *
 * Rucksack aliases
 *
 */
@alias {
	// background
	bgc: background-color;
	bgi: background-image;
	bgp: background-position;
	bgs: background-size;
	bgr: background-repeat;
	
	// fonts
	fs: font-size;
	fw: font-weight;
	tt: text-transform;
	
	br: border-radius;
}