/**
 *
 * Patriarchs age variables
 *

$adanBirth: 0;
$setBirth: $adanBirth;
$enosBirth: $adanBirth;
$cainanBirth: $adanBirth;
$malalelBirth: $adanBirth;
$jaredBirth: $adanBirth;
$enocBirth: $adanBirth;
$matusalenBirth: $adanBirth;
$lamecBirth: $adanBirth; 
 */
$adanBirth: 0;
$setBirth: $adanBirth + 130px;
$enosBirth: $setBirth + 105px;
$cainanBirth: $enosBirth + 90px;
$malalelBirth: $cainanBirth + 70px;
$jaredBirth: $malalelBirth + 65px;
$enocBirth: $jaredBirth + 162px;
$matusalenBirth: $enocBirth + 65px;
$lamecBirth: $matusalenBirth + 187px;


$adanAge: 930px;
$setAge: 912px;
$enosAge: 905px;
$cainanAge: 910px;
$malalelAge: 895px;
$jaredAge: 962px;
$enocAge: 365px;
$matusalenAge: 969px;
$lamecAge: 777px;
$noeAge: 950px;
$semAge: 600px;
$arfaxadAge: 438px;
$salaAge: 433px;
$haberAge: 464px;
$pelegAge: 239px;
$reuAge: 239px;
$serugAge: 237px;
$nacorAge: 138px;
$tareAge: 205px;

$patriarchs: 
	('adan', $adanAge, red),
	('set', $setAge, blue),
  ('enos', $enosAge, yellow),
	('cainan', $cainanAge, pink),
	('malalel', $malalelAge, green),
	('jared', $jaredAge, purple),
	('enoc', $enocAge, gray),
	('matusalen', $matusalenAge, darkgreen),
	('lamec', $lamecAge, wheat),
	('noe', $noeAge, lightblue),
	('sem', $semAge, blanchedalmond),
	('arfaxad', $arfaxadAge, indigo),
	('sala', $salaAge, darkgray),
	('haber', $haberAge, brown),
	('peleg', $pelegAge, darkblue),
	('reu', $reuAge, orange),
	('serug', $serugAge, darkred),
	('nacor', $nacorAge, palegoldenrod),
	('tare', $tareAge, violet);